<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>保院新闻后台管理</title>
    <link rel="stylesheet" type="text/css" href="../../static/admin/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../../static/admin/css/main.css">
    <link rel="stylesheet" href="../../static/admin/css/jquery.pagination.css">
    <script type="text/javascript" src="../../static/admin/js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="../../static/admin/js/vue.min.js"></script>
    <script type="text/javascript" src="../../static/admin/js/jquery.pagination.min.js"></script>
</head>
<body>
<div class="breadcrub">
    当前位置：用户管理>用户列表
</div>
<div class="pannel">
    <table class="common_table">
        <tr>
            <th>用户名</th>
            <th>电话</th>
            <th>注册时间</th>
            <th>上次登录时间</th>
        </tr>
        <tr v-for="user in user_list">
            <td>[[user.nick_name]]</td>
            <td>[[user.mobile]]</td>
            <td>[[user.create_time]]</td>
            <td>[[user.update_time]]</td>
        </tr>
    </table>
</div>

<div class="box">
    <div id="pagination" class="page"></div>
</div>

<script>
    common_table_vue = new Vue({
        el: '.common_table',
        delimiters: ['[[', ']]'],
        data: {
            user_list: []
        }
    });
    $.get('/admin/user_list_json', function (data) {
        common_table_vue.user_list = data.user_list;
        $("#pagination").pagination({
            currentPage: 1,
            totalPage: data.total_page,
            callback: function (current) {
                $.get('/admin/user_list_json',{
                    'page':current
                }, function (data) {
                    common_table_vue.user_list = data.user_list;
                });
            }
        });
    });
</script>
</body>
</html>