<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户中心</title>
    <link rel="stylesheet" type="text/css" href="../../static/news/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../../static/news/css/jquery.pagination.css">
    <link rel="stylesheet" type="text/css" href="../../static/news/css/main.css">
    <script type="text/javascript" src="../../static/news/js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="../../static/news/js/jquery.pagination.min.js"></script>
    <script type="text/javascript" src="../../static/news/js/user_follow.js"></script>
</head>
<body class="inframe_body">
<h3 class="common_title">我的关注</h3>
<ul class="card_list_con">
    {% for author in author_items %}
    <li class="author_card card_list">
        <a href="#" target="_blank" class="author_pic"><img src="../../static/news/images/{{ author.avatar }}" alt="author_pic"></a>
        <a href="#" target="_blank" class="author_name">{{ author.nick_name }}</a>
        <div class="author_resume">{{ author.signature }}</div>
        <div class="writings"><span>总篇数</span><b>{{ author.public_count }}</b></div>
        <div class="follows"><span>粉丝</span><b>{{ author.follow_count }}</b></div>
        <a href="javascript:;" class="focused fr"><span class="out">已关注</span><span class="over">取消关注</span></a>
    </li>
    {% endfor %}
</ul>


<div id="pagination" class="page"></div>
<script>
    $(function () {
        $("#pagination").pagination({
            currentPage: {{ page }},
            totalPage: {{ total_page }},
            //当点击某个页码链接时，会执行这个函数
            callback: function (current) {
                //current表示用户点击的页码值
                location.href='?page='+current;
            }
        });
    });
</script>
</body>
</html>